<div id="titulo">
	<h1>{{titulo}}</h1>
	<h2>{{subtitulo}}</h2>
	<p>{{correo}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Profesional en Ingeniería de Sistemas con experiencia Profesional en el área de Sistemas de  Información,  Enfocado  en  Infraestructura  de  plataformas  tecnológicas  y  programador web  con  HTML5  (Html,  CSS3,  Javascript, jquery)  y  Php,  ingeniero  de    Soporte  para aplicaciones  cliente  servidor,  aplicaciones  web,  administrador  de  servidores  Windows server, Políticas y directivas de seguridad en plataformas tecnológicas, DBA para bases de  datos  SQL  Server  y  Mysql, Capacitación  a  usuarios  en  los  diferentes  software  de aplicación,  Docente  Capacitor  de  Programación  Web  y  Diseño  web,  Bases  de  Datos, Herramientas colaborativas en Internet y Ofimática. Con alto grado de responsabilidad y fácil  interpretación  de  las  políticas  organizacionales  y  excelentes  relaciones interpersonales y habilidad para trabajar en equipo o individualmente. 	

	</p>

</article>